.side-nav {
    position: fixed;
    left: -250px;
    height: 100%; /* Full height minus the TopNavComponent height */
    width: 250px;
    top: 60px;
    background-color: #34495e;
    color: white;
    transition: left 0.3s ease;
  
    &.open {
      left: 0;
    }
  
    ul {
      list-style: none;
      padding: 1rem;
  
      li {
        margin: 1rem 0;
  
        a {
          color: white;
          text-decoration: none;
          font-size: 1.2rem;
          display: block;
          padding: 0.5rem 1rem;
          transition: background-color 0.2s ease;
  
          &:hover {
            background-color: #1abc9c;
          }
        }
      }
    }
  }