.home-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 4px;
    padding: 16px;
}

.employee-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));;
    gap: 4px;
    padding: 16px;
}